#!/bin/sh
exec 2>&1

export GOCAMO_HMAC="<%= @options[:camoproxy_secrets]['hmac-key'] %>"

exec chpst -u camoproxy:camoproxy \
  <%= node['camoproxy']['binary'] %> \
    --listen=0.0.0.0:8080 \
    --metrics \
    --max-redirects=3 \
    --timeout=4s \
    --max-size="<%= node['camoproxy']['max_size'] %>" \
    --allow-content-video \
    --allow-content-audio \
    -H "Content-Security-Policy: media-src 'self'; script-src 'none'; object-src 'none'" \
    --verbose
